placas/*
!placas/.gitkeep
!placas/carro\ (1).jpg
!placas/carro\ (2).jpg
!placas/carro\ (3).jpg
!placas/carro\ (4).jpg
!placas/carro\ (5).jpg
!placas/carro\ (6).jpg
!placas/carro\ (7).jpg
!placas/carro\ (8).jpg
!placas/carro\ (9).jpg
!placas/carro\ (10).jpg
!placas/carro\ (11).jpg
!placas/carro\ (12).jpg
!placas/carro\ (13).jpg
!placas/carro\ (14).jpg
!placas/carro\ (15).jpg
!placas/carro\ (16).jpg
!placas/carro\ (17).jpg
!placas/carro\ (18).jpg
!placas/carro\ (19).jpg
!placas/carro\ (20).jpg